import {render, screen} from '@testing-library/react';

import {<%= _.capitalize(name)%>} from './<%= name%>'

describe('<%= _.capitalize(name)%>', () => {
  it('should render message', () => {
    render(<<%= _.capitalize(name)%> />);
    const messageElement = screen.getByText("<%= name%>");
    expect(messageElement).not.toBeNull();
  })
})
